/* Iternary.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; /* Adjust as needed */
}

.itemContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  background-color: #f9f9f9; /* Add background color to the card */
  border-radius: 5px; /* Add border radius for rounded corners */
  padding: 20px; /* Add padding to create space between content and border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.left {
  display: flex;
  flex-direction: column;
  width: calc(60% - 10px);
}

.right {
  width: auto;
  display: flex;
  justify-content: space-around;
}

.details {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.day {
  font-weight: bold;
  font-size: 18px;
}

.description {
  margin-top: 10px;
}

.inclusions {
  margin-top: 10px;
}

.inclusions span {
  margin-right: 10px;
}

.stay {
  margin-top: 10px;
}

.right img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}
